.options-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center; /* Center items by default */
}

@media screen and (max-width: 990px) {
	.options-container {
		justify-content: space-between;
	}
}
