
#file-input {
  display: none; 
}


.upload-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.upload-button img {
  width: 24px;
  height: 24px;
}



/* Styles pour l'icône du PDF */
#file-display img {
	width: 24px;
	height: 24px;
	vertical-align: middle;
	margin-right: 10px;
}

/* Styles pour le nom du fichier */
#file-name {
	color: #007bff;
	text-decoration: none;
	font-weight: bold;
}

#file-name:hover {
	text-decoration: underline;
}

/* Styles par défaut pour le mode sombre */
#file-display {
  display: none; /* Caché par défaut */
  border: 1px solid #ccc; /* Bordure légère */
  border-radius: 5px; /* Coins arrondis */
  padding: 10px; /* Espacement interne */
  background-color: #262121; /* Fond sombre pour le mode sombre */
  box-shadow: none; /* Pas d'ombre */
  margin-bottom: 10px; /* Espace en bas */
  display: flex; /* Flexbox pour l'alignement */
  align-items: center; /* Alignement vertical au centre */
  max-width: fit-content; /* La largeur s'ajuste au contenu */
}

/* Pour le thème clair */
.theme-light #file-display {
  background-color: #f5f5f5; /* Fond plus clair pour le mode clair */
}


/* Pour le thème sombre */
.theme-dark .upload-button img {
  content: url('../img/file (2).png'); /* Chemin vers l'image pour le thème sombre */
}

/* Pour le thème clair */
.theme-light .upload-button img {
  content: url('../img/file.png'); /* Chemin vers l'image pour le thème clair */
}
